# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
test.txt
LICENSE
gradlew
gradle/wrapper/gradle-wrapper.jar
gradlew
forge-1.18-38.0.1-mdk.zip
changelog.txt
gradle/wrapper/gradle-wrapper.properties
*.bat
changelog.txt
changelog.txt
