# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
setup
build

# Files from Forge MDK
forge*changelog.txt
build.bat
LICENSE.txt
logs/latest.log
myoutput.txt
setup.bat
updates.json
